*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
.pre-header{
    position: relative;
    height: 800px;
    width: 100%;
   
    
}
.preheader-banner{
    background-image: url("home-banner.jpg");
    height: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.nav-bar{
    position: sticky;
    top: 0px;
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;

}
.companydot-1{
    color: #ffc451;
}
.comp-name{

}
.company-name{
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-left: 110px;
    padding-top: 20px;
}
.nav-items{

}
.nav-class{
    position: absolute;
    left: 273px;
    top: 29px;
}
.nav-list{
    display: inline-block;
    padding-left: 25px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}
.nav-ref{
    color: white;
    text-decoration: none;
}
.nav-ref:hover{
    color: #ffc451;
    text-decoration-line: underline;
}
.nav-drop{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: none;
    outline: none;
    border: 0px solid;
    font-size: 15px;
}
.nav-option{
    font-family: 'Open Sans', sans-serif;
    color: black;
    background: white;
}
.nav-btn{
    position: absolute;
    right: 190px;
    top: 17px;
    background: none;
    height: 44px;
    width: 137px;
    padding-left: 25px;
    padding-top: 11px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: 2px solid #ffc451;
}
.nav-btn:hover{
    background: #ffc451;
    
}
.navbtn-name{
    text-decoration: none;
    color: white;
}
.navbtn-name:hover{
    color: gray;
}
.nav-textarea{

}
.text-head{
    margin-top: 70px;
    width: 50%;
    margin-left: 337px;
     
}
.home-head{
    font-size: 56px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.texthead-dot{
    color: #ffc451;
}
.text-para{
    font-family: 'Raleway', sans-serif;
    color: #e4e4e4;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}
.nav-box{
    padding-left: 200px;
    padding-top: 50px;
}
.home-box-1{
    
    height: 180px;
    width: 180px;
    display: inline-block;
    
    margin-left: 15px;
    border: 1px solid white;
}
.home-box-1:hover{
    border: 1px solid #ffc451;  
}
.home-icon{
    
    height: 50px;
    width: 50px;
    text-align: center;
    color: #ffc451;
    font-size: 35px;
    margin-left: 60px;
    margin-top: 30px;
    cursor: pointer;
}
.navbox-name{
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    cursor: pointer;
}
.navbox-name:hover{
    color: #ffc451;
}
.about{
    
    height: 500px;
    width: 100%;
    position: static;
   
}
.about-box{
    display: inline-block;
    
}
.about-textarea{
   
    height: 400px;
    width: 550px;
    margin-top:56px ;
    margin-left: 110px;
    
}
.about-head{
    font-family: 'Poppins', sans-serif;
    color: #444444;
    font-weight: 700;
    font-size: 28px;
    padding-right: 10px;
}
.about-para{
    color: gray;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 10px;
}
.about-list{
    margin-top: 15px;
}
.about-items{
    color: gray;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7px;
    list-style-type: none;
}
.fa-check-double{
    color: #ffc451;
    font-size: 17px;
}
.about-para-2{
    color: gray;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
}
.about-rightpic{
    background: red;
    height: 400px;
    width: 500px;
    margin-top: 56px;
    margin-left: 20px;   
}
.about-pict{
    height: 400px;
    width: 500px;
}
.labore-container{
    background:orange;
    height: 600px;
    width: 100%;
    position: static;
    
}
.box-4{
    background: yellow;
    height: 700px;
    width: 100%;

}